# Виртуальное окружение (тяжелые файлы, их не грузим)
venv/
env/

# Кэш Python (создается автоматически, на GitHub не нужен)
__pycache__/
*.py[cod]
*$py.class

# Настройки редактора PyCharm (у каждого разработчика они свои)
.idea/

# Системные файлы Windows и macOS
Thumbs.db
.DS_Store